<div class="container">
    <h5>¿Estas seguro que deseas eliminar el id {{this.id}}</h5>
    <div class="container">
        <button data-id="{{this.id}}" class="btn btn-danger" id="btnEliminar">Eliminar</button>
    </div>
        <div class="container mt-3">
    <a href="http://localhost:5000/"><button class="btn btn-success">Volver</button></a>
    </div>
</div>
